#grid
{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.row
{
    width: 100%;
    flex:1;
    display: flex;
    flex-direction: row;
}
.square
{
    outline: 2px solid black;
    flex:1;
}
#turnSquareClicker
{
    height: 100px;
    width: 100px;
    outline: 1px solid black;
}
h1
{
  text-align: center;
}
.centerText
{
  text-align: center;
}
.center
{
  text-align: center;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contentRed {
    background-color: #ff0000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 25%;
    text-align: center;
    font-size: x-large;
  }

  /* Modal Content/Box */
  .modal-contentBlue {
    background-color: blue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 25%;
    text-align: center;
    font-size: x-large;
  }

   /* Modal Content/Box */
   .modal-contentTie {
    background-color: rgb(255, 255, 255);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 25%;
    text-align: center;
    font-size: x-large;
  }
  
  /* The Close Button */
  .close {
    float: right;
    position: relative;
    bottom: -50px;
    font-size: 12px;
  }
   
  /* The Close Button */
   .closeTie {
    float: right;
    position: relative;
    bottom: -80px;
    font-size: 12px;
  }
